@model List<SunovaChallenge.Models.Car>

<h1 class="title">Sunnova Programming Challenge</h1>

<h2>Instructions:</h2>
<p>You can order the columns by clicking on the column titles.</p>
<p>You can filter the columns by using the search textbox above the table.</p>

<table id="cars_table" class="display">
    <thead>
        <tr>
            <th>Mileage</th>
            <th>Name</th>
            <th>Model</th>
            <th>Engine</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        @foreach(SunovaChallenge.Models.Car car in Model)
        {
            <tr>
                <td>@car.Mileage.ToString()</td>
                <td>@car.Name</td>
                <td>@car.Model</td>
                <td>@car.Engine</td>
                <td>@car.Color</td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Using an open source datatables jquery library to generate the table with functionality
    // https://datatables.net/
    $("#cars_table").DataTable();
</script>